<table>
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataTable">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                <button (click)="setToDad(item)">CLICOU</button>
            </td>
        </tr>
    </tbody>
</table>